*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


marquee{
    color:blue;
}

#side_bar, #main_content {
    background-color: whitesmoke;
    padding: 50px;
    width: 100%;
}


.link:hover{
    text-decoration: none;
}

#user{
    background-color: whitesmoke;
}



@media (max-width:770px) {
    #side_bar, #main_content {
        background-color: whitesmoke;
        padding: 50px;
        width: 100%;
        height: 100%;
    }

}
